flows.json
[
    {
        "id": "c4d9747506bb396f",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb34b46449a21a02",
        "type": "mqtt in",
        "z": "c4d9747506bb396f",
        "name": "",
        "topic": "/date",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5ae2d985a4dabfd2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "3a25a1c43355ec52",
                "96b4c9163c4f2384",
                "4c32c04e05fd1f18"
            ]
        ]
    },
    {
        "id": "3a25a1c43355ec52",
        "type": "debug",
        "z": "c4d9747506bb396f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "dfd743fbfae4559e",
        "type": "mqtt in",
        "z": "c4d9747506bb396f",
        "name": "",
        "topic": "/time",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5ae2d985a4dabfd2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "f350de87ab4c2370",
                "96b4c9163c4f2384",
                "33f2a016afd5e207"
            ]
        ]
    },
    {
        "id": "f350de87ab4c2370",
        "type": "debug",
        "z": "c4d9747506bb396f",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 280,
        "wires": []
    },
    {
        "id": "b1a41a108e76f631",
        "type": "mqtt in",
        "z": "c4d9747506bb396f",
        "name": "",
        "topic": "/lux",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5ae2d985a4dabfd2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "a1b3ed2391ca5ddd",
                "96b4c9163c4f2384",
                "cb157b948a00b0db",
                "eaf303bec800c600"
            ]
        ]
    },
    {
        "id": "a1b3ed2391ca5ddd",
        "type": "debug",
        "z": "c4d9747506bb396f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "131cac0f11eeea03",
        "type": "postgresql",
        "z": "c4d9747506bb396f",
        "name": "Guardar datos de sensores",
        "query": "insert into sensor_data values ($1, $2, $3)",
        "postgreSQLConfig": "455ffba3f39fe5ef",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 840,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "96b4c9163c4f2384",
        "type": "function",
        "z": "c4d9747506bb396f",
        "name": "Collect Data",
        "func": "var topic = msg.topic;\nvar payload = msg.payload;\n\n// Guardar los valores de los diferentes temas en el contexto global\nif (topic === '/lux') {\n    global.set('lux', payload);\n} else if (topic === '/date') {\n    global.set('date', payload);\n} else if (topic === '/time') {\n    global.set('time', payload);\n}\n\n// Recuperar los valores del contexto global\nvar lux = global.get('lux');\nvar date = global.get('date');\nvar time = global.get('time');\n\n// Verificar si todos los valores están disponibles\nif (lux !== undefined && date !== undefined && time !== undefined) {\n    // Crear la consulta SQL con los valores\n    msg.topic = 'INSERT INTO sensor_data (lux, date, time) VALUES($1, $2, $3)';\n    msg.params = [lux, date, time];\n    \n    // Limpiar los valores en el contexto global después de enviar la consulta\n    global.set('lux', undefined);\n    global.set('date', undefined);\n    global.set('time', undefined);\n    \n    // Devolver el mensaje para que sea procesado por el nodo postgres\n    return msg;\n} else {\n    // Si no todos los valores están disponibles, no hacer nada\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "131cac0f11eeea03",
                "0152b1418798b43b"
            ]
        ]
    },
    {
        "id": "cb157b948a00b0db",
        "type": "ui_chart",
        "z": "c4d9747506bb396f",
        "name": "",
        "group": "ba93bd2bf409399f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lux",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "eaf303bec800c600",
        "type": "ui_gauge",
        "z": "c4d9747506bb396f",
        "name": "",
        "group": "90717e476fbfd2b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Intensidad Luminica",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 440,
        "wires": []
    },
    {
        "id": "4c32c04e05fd1f18",
        "type": "ui_text",
        "z": "c4d9747506bb396f",
        "group": "5f5ee7415b716932",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "33f2a016afd5e207",
        "type": "ui_text",
        "z": "c4d9747506bb396f",
        "group": "5f5ee7415b716932",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tiempo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "aa979481f4ae8659",
        "type": "postgresql",
        "z": "c4d9747506bb396f",
        "name": "Guardar datos de sensores",
        "query": "insert into sensor_data values (100,CURRENT_DATE)",
        "postgreSQLConfig": "455ffba3f39fe5ef",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 900,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6cd087fb54993295",
        "type": "inject",
        "z": "c4d9747506bb396f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "aa979481f4ae8659"
            ]
        ]
    },
    {
        "id": "0152b1418798b43b",
        "type": "debug",
        "z": "c4d9747506bb396f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "5ae2d985a4dabfd2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "455ffba3f39fe5ef",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5050",
        "portFieldType": "num",
        "database": "mqtt_data",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "Adhebfdc23.",
        "passwordFieldType": "str"
    },
    {
        "id": "ba93bd2bf409399f",
        "type": "ui_group",
        "name": "",
        "tab": "d6f26dcfe380ebce",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "90717e476fbfd2b8",
        "type": "ui_group",
        "name": "Gráfica",
        "tab": "d6f26dcfe380ebce",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f5ee7415b716932",
        "type": "ui_group",
        "name": "Última lectura",
        "tab": "d6f26dcfe380ebce",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6f26dcfe380ebce",
        "type": "ui_tab",
        "name": "L U X    _   L O G G E R",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]